.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
    .icon.x1_5-icon {
        width: 1.5em;
        height: 1.5em;
    }

    .icon.x2-icon {
        width: 2em;
        height: 2em;
    }

    .icon.x4-icon {
        width: 4em;
        height: 4em;
    }
