.z-100 { z-index: 100; }
.min-vh-30 { min-height: 30vh; }
.min-vh-20 { min-height: 20vh; }
.border-top-2 {border-top: 2px solid #dee2e6 !important; }

.oecs-info{
    background-color: #97d700 !important;
}

.oecs-text{
    color: #000f47 !important;
}

.navbutton{
    width: 100%;
    margin-top: 10px;
}

.button-radio {
    opacity: 0 !important;
    position: fixed !important;
    width: 0 !important;
}

.header-label {
    background-color: #97d700;
    padding: 10px 20px;
    border-radius: 4px;
}

.top-button-width{
    width: 90%;
}

.academy-button {
    background-color: #97d700 !important;
    border-radius: 30px !important;
}


input#SearchTerm::placeholder {
    font-size: 1rem;
    text-align: left;
}

input#SearchTerm{
    font-size: 1rem !important;
}

.browse-button{
    cursor: pointer;
}

.green-selected{
    background-color: gold !important;
}