.modal-fullscreen {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

    .modal-full .modal-content {
        min-height: 100vh;
    }

.modal{
    padding-right: 0 !important;
}