@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "vMaster.cshtml";
    string contentTitle = Model.Value<string>("contentTitle", fallback: Fallback.ToDefaultValue, defaultValue: Model.Name);
}

<main>
    <div class="row">
        <div class="col">
            @{ Html.RenderPartial("Core/BannerImages");}
        </div>
    </div>    
    <div>
        <header class="py-3">
            <div class="row">
                <div class="col-auto mr-auto">
                    <h1 class="trailing-heading-middle">@contentTitle</h1>
                </div>                
            </div>
        </header>        
        @RenderBody()
    </div>
</main>