@inherits UmbracoViewPage
@using TWS.ThinkBlue.Models;
@{
    Layout = "vMaster.cshtml";

    var searchParams = new SearchViewModel()
    {
        DocTypeAliases = "dtContentTile",
        FieldPropertyAliases = "nodeName,metaTitle,metaKeywords,metaDescription,tileTheme,tileTopics,tileKeywords,contentTitle",
        PageSize = 6
    };
}
<div class="row">
    <div class="col p-1">
        @Html.Partial("Layout/MainNavigation")
    </div>
</div>
<div class="row"><div class="col text-primary font-weight-bold pb-3" id="BrowseTheme"></div></div>
<div class="row" id="search-results">
    @{ Html.RenderAction("SubmitSearchForm", "Search", searchParams);}
</div>


