@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "vMaster.cshtml";

}

@*@Html.Partial("Layout/SearchForm")*@


<div class="row">
    <div class="col">
        @{ Html.RenderAction("RenderSearchForm", "Search", new { docTypeAliases = "dtContentTile", fieldPropertyAliases = "nodeName,metaTitle,metaKeywords,metaDescription,tileTopics,tileKeywords,contentTitle", pageSize = 6, pagingGroupSize = 3 }); }
    </div>
</div>

@*@Html.Partial("Content/List")*@