@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc

@{

}

@*<nav class="navbar navbar-toggleable-xl navbar-light bg-light">*@
<nav class="navbar-light navbar-toggleable-xl">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">

                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#cookieModal" title="Cookie Preference">Select Cookie Preference</a>
                @{
                    foreach (var node in Model.AncestorsOrSelf().DescendantsOrSelfOfType("dtMenuItem"))
                    {
                        <a class="btn btn-primary" href="@node.Url" data-toggle="modal" data-target="#modal" title="@(node.Name)">@node.Name</a>
                    }
                }

            </li>
        </ul>
    </div>
</nav>
