@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc

@{
    //Html.RequiresCss("/css/core-header-navigation.css");
    var homeNode = Model.AncestorOrSelf(1);

    var headerLinks = homeNode.Value<IEnumerable<IPublishedContent>>("headerLinks");
    var infoPages = Umbraco.ContentAtXPath("//dtInfoPages").FirstOrDefault();
}

<div class="navbar navbar-dark bg-primary box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Think Blue</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="collapse bg-primary text-white" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 py-4">
                <ul class="list-unstyled">
                    <li><a class="underline text-white w-100" href="#" data-toggle="modal" data-target="#cookieModal" title="Set Cookie Preferences"><u>Set Cookie Preferences</u></a></li>

                    @if (infoPages != null)
                    {
                        foreach (var node in infoPages.Children)
                        {
                            <li><a class="underline text-white w-100" href="@node.Url" data-toggle="modal" data-target="#modal" title="@(node.Name)"><em>@node.Name</em></a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>