@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@using TWS.ThinkBlue.Models;

@{
    var homeNode = Model.AncestorOrSelf(1);

    //var headerLinks = homeNode.Value<IEnumerable<IPublishedContent>>("headerLinks");
    var infoPages = null;//Umbraco.ContentAtXPath("//dtInfoPages").FirstOrDefault();

    var searchParams = new SearchViewModel()
    {
        DocTypeAliases = "dtContentTile",
        FieldPropertyAliases = "nodeName,metaTitle,metaKeywords,metaDescription,tileTheme,tileTopics,tileKeywords,contentTitle",
        PageSize = 6
    };
}

<div id="topNavigation">
    <div class="navbar">
        <a href="/" class="navbar-brand">
            <img src="/thinkblue-logo.png" height="50" alt="ThinkBlue Home">            
        </a>
        <div class="justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#search-form-wrapper" aria-controls="search-form-wrapper" aria-expanded="false" aria-label="Toggle Search">
                <span class="">?</span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#info-menu" aria-controls="info-menu" aria-expanded="false" aria-label="Toggle Info">
                <span class="">i</span>
            </button>
        </div>
    </div>

    <div class="collapse text-primary" id="search-form-wrapper" data-parent="#topNavigation">
            @{ Html.RenderAction("RenderSearchForm", "Search", searchParams);}        
    </div>

    <div class="collapse text-primary" id="info-menu" data-parent="#topNavigation">
        <div class="container">
            <div class="row">
                <div class="col p-0">
                    <ul class="list-group">


                        @if (infoPages != null)
                        {
                            foreach (var node in infoPages.Children)
                            {
                                <li class="list-group-item"><a class="color-blue" href="@node.Url" data-toggle="modal" data-target="#modal" title="@(node.Name)">@node.Name</a></li>
                            }
                        }

                        <li class="list-group-item"><a class="w-100" href="#" data-toggle="modal" data-target="#cookieModal" title="Set Cookie Preferences">Set Cookie Preferences</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>