@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc

<form id="menu-search-form" class="mt-2 mb-3" action="/site-search#search" method="get">
    <div class="input-group">
        <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search" pattern="^[a-zA-Z0-9]+$">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>