<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="3d76959e-753d-475f-a135-114cdae3a181" name="Learning Hub" alias="learning-hub" type="Starter" color="" url="https://www.s1.umbraco.io/project/learning-hub" upstream="https://thinkblue.s1.umbraco.io">
  <environment type="live" name="Live" id="ff2b1636-a9f2-4124-9948-c5070a896da4">https://learning-hub.s1.umbraco.io</environment>
</environments>