<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="370a4a6e-ac74-4d7d-90f2-19d0ef27fe52" name="ThinkBlue" alias="thinkblue" type="Starter" color="" url="https://www.s1.umbraco.io/project/thinkblue">
  <environment type="development" name="Development" id="4bbf4e05-03a2-491c-9745-c8183300471d">https://dev-thinkblue.s1.umbraco.io</environment>
  <environment type="live" name="Live" id="22961fa3-a83e-4574-a97e-bf445a2e9188">https://thinkblue.s1.umbraco.io</environment>
</environments>